@import '../../static/scss/variables';

.c-input {
  width: 457px;
  display: flex;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  height: 46px;
  border-radius: 23px;
  background: $white;

  input {
    width: 80%;
    height: 100%;
    border: none;
    font-size: 18px;
   

    &:focus {
      outline: none;
    }
  }

  svg {
    width: 45px;
    height: 45px;
  }
}