@import './variables';

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $mainPageBackground;

  .c-header {
    position: sticky;
    top: 0;
    left: 0;
  }

  .c-catalog {
    margin-top: 30px;
  }
}